
node_modules/

index\.js

package\.1\.json

package\.2\.json

\.1\.babelrc

\.2\.babelrc

\.DS_Store

static/app\.bundle\.js

static/App\.js

static/IssueRow\.js

static/IssueTable\.js

webpack\.config\.1\.js

webpack\.config\.2\.js
